body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 238, 241);
}

a {
  color: #00B7FF;
}

.intro {
  background-color: red;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}