body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(238, 252, 255);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

img {
  border-radius: 30%
}

.background {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}


.intro { 
  flex: 4;
  height: 100%;
  text-align: center;
  padding-left: 25%;
  
}

.intro::before{
  content: "";
  background-image: url('images/lehigh.png');
  background-size: cover;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.75;
}


.sidenav {
  flex: 1;
  background-color: white; 
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed; /*fixed sidebar*/
  width: 20%;
  height: 100%; /*covers the entire height*/
  overflow-x:hidden; /*disables horizontal scrolling*/
  padding: 20px;
}

