.home {
  height: 92vh;
}
p {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10vh;
}

h1 {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}

br {
  justify-content: center;
  display: flex;
  align-items: center;
}

.pfp {
  border-radius: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 50%;
}
