.navbar {
  padding: 1%;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 8vh;
  width: 100vw;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: flex;
  position: relative;
}

.nav-buttons {
  border: none;
  color: #000000;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

.nav-buttons:hover {
  background-color: #55677d;
  border-radius: 25px;
}
